.dark_mode {
    background-color: rgb(28, 28, 28);
    
  }
  
  .dark_mode div p  {
    color: #d3d3d3 !important; 
  }
  
  .dark_mode div h6  {
    color: #d3d3d3 !important; 
  }
  
  .dark_mode div h5  {
    color: #d3d3d3 !important; 
  }
  
  .dark_mode div h4  {
    color: #d3d3d3 !important; 
  }
  
  .dark_mode div h3  {
    color: #d3d3d3 !important; 
  }

  .dark_mode div h2  {
    color: #d3d3d3 !important; 
  }
  
  .dark_mode div h1  {
    color: #d3d3d3 !important; 
  }
  
  .dark_mode div a  {
    color: #d3d3d3 !important; 
  }
  
  .dark_mode #btn_send_form {
    color: #d3d3d3;
  }

  .dark_mode label {
    color: #d3d3d3 !important; 
  }

  .dark_mode .container button {

    background-color: #090809;

  }

  .dark_mode .title {
    color: #d3d3d3 !important; 
  }

  .dark_mode .card {
    background-color: rgb(35, 35, 35);
  }

  .dark_mode body {
    background-color: rgb(28, 28, 28) !important; 
  }

  .dark_mode header {
    background-color: rgb(28, 28, 28) !important; 
  }
  
  .dark_mode footer {
    background-color: rgb(28, 28, 28) !important; 
  }