/* TELA DE LOGIN - COMEÇO */

body {
    font-family: 'Inter', sans-serif;
    background-color: #fff;
    width: 100%; 
  }
  
  p {
    color: #b3b3b3;
    font-weight: 300; }
  
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {

    font-family: "Roboto", sans-serif; color: #3B1669;}
  a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    a:hover {
      text-decoration: none !important; }
  
  .content {
    padding: 7rem 0; }
  
  h2 {
    font-size: 20px; }
  
  .half, .half .container > .row {
    height: 100vh;
    min-height: 700px; }
  
  .half .contents {
    background: #3B1669; }
  
  .half .bg {
    width: 25%; }
    @media (max-width: 767.98px) {
      .half .bg {
        width: 100%;
        height: 200px; } }
  
  .half .contents {
    width: 75%; }
    @media (max-width: 767.98px) {
      .half .contents {
        width: 100%; } }
  
  .half .contents .form-control, .half .bg .form-control {
    border: none;
    border-radius: 4px;
    height: 54px;
    background: #efefef; }
    .half .contents .form-control:active, .half .contents .form-control:focus, .half .bg .form-control:active, .half .bg .form-control:focus {
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none; }
  
  .half .bg {
    background-size: cover;
    background-position: center; }
  
  .half a {
    color: #888;
    text-decoration: underline; }
  
  .half .btn {
    padding-left: 30px;
    padding-right: 30px; }
  
  .half .forgot-pass {
    position: relative;
    top: 2px;
    font-size: 14px; }
  
  .form-block {
    background: #fff;
    padding: 40px;
    max-width: 500px;
    -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2); }
    @media (max-width: 767.98px) {
      .form-block {
        padding: 25px; } }
  
  .control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 14px; }
    .control .caption {
      position: relative;
      top: .2rem;
      color: #888; }
  
  .control input {
    position: absolute;
    z-index: -1;
    opacity: 0; }
  
  .control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border-radius: 4px; }
  
  .control--radio .control__indicator {
    border-radius: 50%; }
  
  .control:hover input ~ .control__indicator,
  .control input:focus ~ .control__indicator {
    background: #ccc; }
  
  .control input:checked ~ .control__indicator {
    background: #3B1669; }
  
  .control:hover input:not([disabled]):checked ~ .control__indicator,
  .control input:checked:focus ~ .control__indicator {
    background: #3B1669; }
  
  .control input:disabled ~ .control__indicator {
    background: #e6e6e6;
    opacity: 0.9;
    pointer-events: none; }
  
  .control__indicator:after {
    font-family: 'icomoon';
    content: '\e5ca';
    position: absolute;
    display: none;
    font-size: 16px;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
  
  .control input:checked ~ .control__indicator:after {
    display: block;
    color: #fff; }
  
  .control--checkbox .control__indicator:after {
    top: 50%;
    left: 50%;
    margin-top: -1px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  
  .control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b; }
  
  .control--checkbox input:disabled:checked ~ .control__indicator {
    background-color: #7e0cf5;
    opacity: .2; }
  
  .btn {
    text-decoration: none !important; 
   }

    .btn-login.btn-facebook {
      display: block;
      background: #3b5998;
      color: #fff;
      border-radius: 26px;
      font-weight: 600;
      padding-left: 4%;
   }
    .btn-login.btn-google {
      background: #ea4335;
      color: #fff;
      border-radius: 26px;
      font-weight: 600;
      padding-left: 4%;
    }   
      .logo-login img{
        width: 40%;
        height: 25%;    
        margin-right: 70%;
    }
  
    .texto-esquerdo {
      font-size:70px;
      color: white;
      font-weight: bold; 
      float:right; 
      margin-top: 60%;
      margin-bottom: -10px;
      overflow-x: hidden;
    }
    .bg {
  
      font-family: 'Inter', sans-serif;
      text-align:center;
      background-color:black;
  
    }
    
    .btn-cadastro {
      font-size: 20px;
      font-weight: 700;
      border-radius:26px;
      background-color: #3B1669;
      color: white;
      margin-left: auto;
      margin-right: auto;
      width: 250px;
      height: 60px;
    }
  
    .texto-esquerdo-motivador {
      font-weight: 200;
      color: white;
    }


/* TELA DE LOGIN - FIM */


/* TELA DE INFORMAÇÕES - COMEÇO */



@import url(https://fonts.googleapis.com/css?family=Roboto:300);

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: white;
    margin: 0%;
    height: 100vh;
    width: 100%;
    font-family: 'Inter', sans-serif;

}

/* Main  */
.texto-info{
    color: #3B1669;
    font-weight: 600;

}

.nome-filme {
    padding-top: 40px;
    padding-left: 8%;
    font-weight: bold;
    color: #3B1669;
}

.btn-presenca {

    background-color: green;
    margin-top: 7%;
    margin-right: 55%;
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    border: none;
    box-shadow: 1px 1px 4em wheat;
    font-weight: bold;
}

.btn-presenca:hover {
    background-color: #3B1669;
}

.descricao-evento {

    padding-top: 0%;

}

.bd {

    border: 1px solid red;

}

.evento {
     background: #3B1669;
     color: white; 
     border-radius:5px; 
     padding:5px;
     font-size: 26px;
}

.dados {
    color: black;
    font-size: 21px;
    font-family: 'Inter', sans-serif;

}

.dados-sinopse {
color: black;

}

.dados-elenco {
color: black;

}

.sinopse-elenco {

    padding-left: 4%;
    padding-right: 4%;

}

.descricao-filme {

    color:#3B1669;
    font-weight: bold;
}

.sinopse-elenco {

    color: black;
    font-weight: bold;

}
.sinopse {
    font-weight: bold;
    color: #3B1669;
}

.elenco {

    font-weight: bold;
    color: #3B1669;

}

/* icone perfil */
.personal-image {
    text-align: center;
  }
  .personal-image input[type="file"] {
    display: none;
  }
  .personal-figure {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 110%;
    top: -25%;
  }
  .personal-avatar {
    cursor: pointer;
    width: inherit;
    height: inherit;
    box-sizing: border-box;
    border-radius: 100%;
    border: 2px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out .3s;
  }
  .personal-avatar:hover {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  }
  .personal-figcaption {
    cursor: pointer;
    position: absolute;
    top: 0px;
    width: inherit;
    height: inherit;
    border-radius: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: all ease-in-out .3s;
  }
  .personal-figcaption:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, .5);
  }
  .personal-figcaption > img {
    margin-top: 20%;
    width: 30px;
    height: 30px;
  }

/* icone perfil, fim */

/* Botão Marcar presença */

.btn-success {
    height: 50px;
    width: 200px;
    position: absolute;
    top: 800px;
    left: 250px;
  }

  /* Informações do evento */

  .horas {


    font-size: 24px;
    font-family: 'Inter', sans-serif;

  }

  /* button wpp e insta */

main .button-wpp {
    position:fixed;width:50px;height:50px;bottom:15px;right:15px;border-radius:50px;text-align:center;font-size:30px;z-index:999997;box-shadow: 1px 1px 2px #888;
}

main .button-insta {
    position:fixed;width:50px;height:50px;bottom:75px;right:15px;border-radius:50px;text-align:center;font-size:30px;z-index:999997;box-shadow: 0px 0px 0px #888;
}




/* TELA DE INFORMAÇÕES - FIM */




/* TELA PRINCIPAL - COMEÇO */



@import url(https://fonts.googleapis.com/css?family=Roboto:300);


body {
  
  width: 100%;

}


main .texto-eventos-disponiveis .line-texto h1{
    font-family: 'Inter', sans-serif;
    color: black;
    border-bottom: 2px solid #BAB5BD;
    left:0;
    bottom:0;
}


/* icone perfil */
.personal-image {
    text-align: center;
  }
  .personal-image input[type="file"] {
    display: none;
  }
  .personal-figure {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 110%;
    top: -65%;
  }
  .personal-avatar {
    cursor: pointer;
    width: inherit;
    height: inherit;
    box-sizing: border-box;
    border-radius: 100%;
    border: 2px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out .3s;
  }
  .personal-avatar:hover {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  }
  .personal-figcaption {
    cursor: pointer;
    position: absolute;
    top: 0px;
    width: inherit;
    height: inherit;
    border-radius: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: all ease-in-out .3s;
  }
  .personal-figcaption:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, .5);
  }
  .personal-figcaption > img {
    margin-top: 20%;
    width: 30px;
    height: 30px;
  }
/* icone perfil, fim */

/*  Cards */
  
  .container {
    display: flex;
    max-width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  /* Card */
  .card {
    width: 300px;
    height: 460px;
    margin: 25px;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    transition: 0.3s;
  }
  
  /* Card Header*/
  .card-header {
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
  
  .card-img {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: 100%;
    object-fit: contain;
  }
  
  /* Card Body */
  .card-body {
    height: 170px;
    padding: 15px;
    text-align: center;
    font-family: sans-serif;
  }
  
  .card-local {
    font-size: 16px;
    margin: 10px 0;
  }
  
  .card-titulo {
    font-size: 32px;
    margin: 15px 0;
  }
  
  .card-texto {
    font-size: 12px;
    font-weight: 600;
    width: 250px;
    margin: 0 auto;
    color: black;
  }
  
  /* Card Footer */
  .card-footer {
    margin-top: 10px;
    text-align: center;
    background-color: #000;
  }
  
  .card-footer a {
    color: #fff;
    display: block;
    padding: 16px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
  }
  
  /* Cores Cards */
  .card-1 .card-footer {
    background-color: #3B1669;
  }
  
  .card-1 .card-local {
    color: #3B1669;
  }
  
  .card-2 .card-footer {
    background-color: #3B1669;
  }
  
  .card-2 .card-local {
    color: #3B1669;
  }
  
  .card-3 .card-footer {
    background-color: #3B1669;
  }
  
  .card-3 .card-local {
    color: #3B1669;
  }
  
  /* Animação Hover */
  .card:hover {
    transform: scale3d(1.1, 1.1, 1);
  }


