@import url(https://fonts.googleapis.com/css?family=Roboto:300);


body {
    background-color: white;
    width: 100%;
    font-family: 'Inter', sans-serif;
    margin: 0 auto;


}

/* Main  */
.texto-info{
    color: #3B1669;
    font-weight: 600;
    padding-top: 5%;
}



.nome-filme {
    padding-top: 30px;
    padding-left: 8%;
    font-weight: bold;
    color: #3B1669;
}

.btn-presenca {

    background-color: green;
    margin-top: 7%;
    margin-right: 55%;
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    border: none;
    /* box-shadow: 1px 1px 4em wheat; */
    font-weight: bold;
}

.btn-presenca:hover {
    background-color: #3B1669;
}

.descricao-evento {

    padding-top: 0%;

}

.bd {

    border: 1px solid red;

}

.evento {
     background: #3B1669;
     color: white; 
     border-radius:4px; 
     padding:6px;
     font-size: 23px;
}

.dados {
    color: black;
    font-size: 19px;
    font-family: 'Inter', sans-serif;
}

.dados-sinopse {
color: black;

}

.dados-elenco {
color: black;

}

.sinopse-elenco {
    padding-left: 4%;
    padding-right: 4%;

}

.descricao-filme {

    color:#3B1669;
    font-weight: bold;
}

.sinopse-elenco {

    color: black;
    font-weight: bold;

}
.sinopse {
    font-weight: bold;
    color: #3B1669;
}

.elenco {

    font-weight: bold;
    color: #3B1669;

}


  /* Informações do evento */

  .horas {


    font-size: 24px;
    font-family: 'Inter', sans-serif;

  }

  /* button wpp e insta */

main .button-wpp {
    position:fixed;
    width:50px;height:50px;bottom:15px;right:15px;border-radius:50px;text-align:center;font-size:30px;z-index:999997;box-shadow: 1px 1px 2px #888;
}

main .button-insta {
    position:fixed;
    width:50px;height:50px;bottom:75px;right:15px;border-radius:50px;text-align:center;font-size:30px;z-index:999997;box-shadow: 0px 0px 0px #888;
}

@media screen and (max-width: 600px) {

    .texto-info {
        padding-top: 20%;
    }

    .img-filme {

        align-items: center;
    }

    .div-img {
        width: 100%;
        margin: auto;
       
    }

    .btn-presenca {
        margin-top: 0%;
        margin-right: 0%;
    }

    .sinopse-elenco {
        padding-left: 5%;
        padding-right: 5%;
    
    }

    .evento {
        padding:5px;

   }

   .nome-filme {
    text-align: center;
    padding-right: 15%;
   }
    

}
