body {
    font-family: 'Inter', sans-serif;
    background-color: #fff;
    width: 100%;
  }

  
  p {
    color: #b3b3b3;
    font-weight: 300; }
  
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {

    font-family: "Roboto", sans-serif; color: #3B1669;}
  a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    a:hover {
      text-decoration: none !important; }
  
  .content {
    padding: 7rem 0; 
    }
  
  h2 {
    font-size: 20px; }
  
  .half, .half .container > .row {
    height: 100vh;
    min-height: 700px; }
  
  .half .contents {
    background: #3B1669; }
  
  .half .bg {
    width: 25%; }
    @media (max-width: 767.98px) {
      .half .bg {
        width: 100%;
        height: 200px; } }
  
  .half .contents {
    width: 75%; }
    @media (max-width: 767.98px) {
      .half .contents {
        width: 100%; } }
  
  .half .contents .form-control, .half .bg .form-control {
    border: none;
    border-radius: 4px;
    height: 45px;
    background: #efefef; }
    .half .contents .form-control:active, .half .contents .form-control:focus, .half .bg .form-control:active, .half .bg .form-control:focus {
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none; }
  
  .half .bg {
    background-size: cover;
    background-position: center;
    background-color: black;
    }
  
  .half a {
    color: #888;
    text-decoration: underline; }
  
  .half .btn {
    padding-left: 30px;
    padding-right: 30px; }
  
  .half .forgot-pass {
    position: relative;
    top: 2px;
    font-size: 14px; }
  
  .form-block {
    background: #fff;
    padding: 40px;
    max-width: 500px;
    -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2); }
    @media (max-width: 767.98px) {
      .form-block {
        padding: 25px; } }
  
  .control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 14px; }
    .control .caption {
      position: relative;
      top: .2rem;
      color: #888; }
  
  .control input {
    position: absolute;
    z-index: -1;
    opacity: 0; }
  
  .control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border-radius: 4px; }
  
  .control--radio .control__indicator {
    border-radius: 50%; }
  
  .control:hover input ~ .control__indicator,
  .control input:focus ~ .control__indicator {
    background: #ccc; }
  
  .control input:checked ~ .control__indicator {
    background: #3B1669; }
  
  .control:hover input:not([disabled]):checked ~ .control__indicator,
  .control input:checked:focus ~ .control__indicator {
    background: #3B1669; }
  
  .control input:disabled ~ .control__indicator {
    background: #e6e6e6;
    opacity: 0.9;
    pointer-events: none; }
  
  .control__indicator:after {
    font-family: 'icomoon';
    content: '\e5ca';
    position: absolute;
    display: none;
    font-size: 16px;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
  
  .control input:checked ~ .control__indicator:after {
    display: block;
    color: #fff; }
  
  .control--checkbox .control__indicator:after {
    top: 50%;
    left: 50%;
    margin-top: -1px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  
  .control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b; }
  
  .control--checkbox input:disabled:checked ~ .control__indicator {
    background-color: #7e0cf5;
    opacity: .2; }
  
  .btn {
    text-decoration: none !important; 
   }

    .btn-login.btn-facebook {
      display: block;
      background: #3b5998;
      color: #fff;
      border-radius: 26px;
      font-weight: 600;
      padding-left: 4%;
   }
    .btn-login.btn-google {
      background: #ea4335;
      color: #fff;
      border-radius: 26px;
      font-weight: 600;
      padding-left: 4%;
    }   
      .logo-login img{
        width: 40%;
        height: 25%;    
        margin-right: 70%;
    }

    .texto-esquerdo-logar-cadastro {
        color: #e6e6e6;
        font-weight: 500;
        font-size: 14px;
    }

    .texto-esquerdo-motivador-cadastro {
        color: white;
        font-weight:900;
        font-size: 40px;

    }

/* BOTÃO PULSANTE */

/*Botão Pulsa*/
.box-pulse { 
    width:100%; 
    width:250px; 
    margin:0 auto; padding:0 30px;

}
.box-pulse a {
  
  text-decoration:none;
  display: inline-block;
  font-size: 1.1em;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.botao-pulse {
  padding: 20px 30px;
  color: #fff;
  background-color: #3B1669;
  border-radius:30px; 
  -webkit-animation: pulse 1s ease infinite;
  -moz-animation: pulse 1s ease infinite;
  -ms-animation: pulse 1s ease infinite;
  -o-animation: pulse 1s ease infinite;
  animation: pulse 1s ease infinite;
}
.botao-pulse:hover {
  color: #fff;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
  }
  25% {
    -moz-transform: scale(1.1);
  }
  50% {
    -moz-transform: scale(1);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@-ms-keyframes pulse {
  0% {
    -ms-transform: scale(1);
  }
  25% {
    -ms-transform: scale(1.1);
  }
  50% {
    -ms-transform: scale(1);
  }
  100% {
    -ms-transform: scale(1);
  }
}
@-o-keyframes pulse {
  
  0% { -o-transform: scale(1); }
  25% { -o-transform: scale(1.1); }
  50% { -o-transform: scale(1); }
  100% { -o-transform: scale(1); } 
}
@keyframes pulse { 
  0% {transform: scale(1);}
  50% {transform: scale(1.1);}
  100% {transform: scale(1);}
}
/*Botão Pulsa* FIM*/
