@import url(https://fonts.googleapis.com/css?family=Roboto:300);


body {
  width: 100%;

}


.texto-eventos-disponiveis .line-texto h1{
    font-family: 'Inter', sans-serif;
    color: #3B1669;
    font-weight: 600;
}

h1 {
  color: #3B1669;
}

h1::after {
  content: '';
  width: 300px;
  height: 4px;
  background-color: #3B1669;
  display: block;
  margin: 15px auto;
}
.line-texto {
  padding-top: 5%;
  padding-bottom: 4%;
  overflow: hidden;
}
@media screen and (max-width: 600px) {
  
  .line-texto {
    padding-top: 20%;
    font-size: 50px;
  }

  h1 {
    font-size: 35px;
    font-weight: 600;
  }

  .card-titulo h2{
    font-size: 18px;
    margin: 15px 0;
  }

}

@media screen and (max-width: 1024px) and (min-width: 600px) {
  
    .line-texto {
      padding-top: 9%;
    }
  
  }


/*  Cards */
  
  .container {
    display: flex;
    max-width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  /* Card */
  .card {
    width: 300px;
    height: 460px;
    margin: 25px;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    transition: 0.3s;
  }
  
  /* Card Header*/
  .card-header {
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
  
  .card-img {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: 100%;
    object-fit: contain;
  }
  
  /* Card Body */
  .card-body {
    height: 170px;
    padding: 15px;
    text-align: center;
    font-family: sans-serif;
  }
  
  .card-local {
    font-size: 16px;
    margin: 10px 0;
    font-weight: 600;
  }
  
  .card-titulo {
    font-size: 32px;
    margin: 15px 0;
  }
  
  .card-texto {
    font-size: 12px;
    font-weight: 600;
    width: 250px;
    margin: 0 auto;
    color: black;
  }
  
  /* Card Footer */
  .card-footer {
    margin-top: 10px;
    text-align: center;
    background-color: #000;
  }
  
  .card-footer a {
    color: #fff;
    display: block;
    padding: 16px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
  }
  
  /* Cores Cards */
  .card-1 .card-footer {
    background-color: #3B1669;
  }
  
  .card-1 .card-local {
    color: #3B1669;
  }
  
  .card-2 .card-footer {
    background-color: #3B1669;
  }
  
  .card-2 .card-local {
    color: #3B1669;
  }
  
  .card-3 .card-footer {
    background-color: #3B1669;
  }
  
  .card-3 .card-local {
    color: #3B1669;
  }
  
  /* Animação Hover */
  .card:hover {
    transform: scale3d(1.1, 1.1, 1);
  }


