@import url(https://fonts.googleapis.com/css?family=Roboto:300);

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: white;
    margin: 0%;
    height: 100vh;
    width: 100%;
    font-family: 'Inter', sans-serif;

}
label.btn {
    border-radius: 0%;
    margin: 0%;
    max-width: 5%;
    background-color: #3B1669;
}

.barra {
    background-color: #3B1669;
    position: absolute;
    top: 0;
    left: 5%;
    right: 0;
    height: 55px;
  }


#checkbox, .btn span { /* Hide the checkbox input & word "Menu" in the button */
    
    position: absolute;
    left: 2.5%;
    top: 1.6%;
    color: white;
    background-color: #3B1669;
}

/* Menu button - starts */
.btn {
    display: block;
    background-color: #3B1669;
    color: white;
    width: 100%;
    height: 55px;
    line-height: 56px;
    padding: 0 20px;
    cursor: pointer;
    transition: width .3s ease-in-out;
    
}

label .fa-bars {
position: absolute;
left: 1%;
top: 2%;
color: white;


}
/* Menu button - ends */

/* Sidebar - starts */  
.sidebar {
    background-color: #3B1669;
    position: fixed;
    width: 250px;
    height: 100%;
    z-index: 1111;
    transition: transform .3s ease-in-out;
    transform: translateX(-250px);
}

.sidebar ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.sidebar ul a {
    position: relative;
    text-decoration: none;
    display: block;
    background-color: transparent;
    color: #BAB5BD;
    padding: 15px 20px;
    font-size: 16px;
}

.sidebar ul a li i {
    margin-right: 15px;
}

/* Add the word "New" to the second item and "2" to the third item */
.sidebar ul a:nth-child(2)::after, .sidebar ul a:nth-child(3)::after {
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -9px;
    color: #fff;
    font-size: 13px;
    padding: 0 7px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.sidebar ul a:nth-child(2)::after {
    content: "New";
    background-color: tomato;
}

.sidebar ul a:nth-child(3)::after {
    content: "2";
    background-color: #247D9E;
}

/* Add margin to the icon in the second item */
.sidebar ul a:nth-child(2) li i {
    margin-left: 4px;
    margin-right: 19px;
}

.sidebar ul a:hover, .sidebar ul a.active {
    background-color: #161920;
    color: #fff;
}

.sidebar ul a:hover::before, .sidebar ul a.active::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-color: #247D9E;
    width: 4px;
    height: 100%;
}
/* Sidebar - ends */

/* Effect of showing the sidebar - starts */
#checkbox:checked ~ .sidebar {
    transform: translateX(0);
}

#checkbox:checked + .btn {
    width: 100%;
    height: 55px;
    padding: 0 20px;
}

#checkbox:checked + .btn span { /* Show again the word "Menu" in the button */
    display: inline;
}
/* Effect of showing the sidebar - ends */

/* caixa de pesquisa  - inicio*/

.search-box {
position: absolute;
top: 1.5%;
left: 60%;
background-color: white;
height: 35px;
border-radius: 40px;
padding: 10px;
justify-content: space-between;
align-items: center;
width: 20%;
align-items: center;
}

.search-text {
    border: 0;
    outline: 0;
    width: 91%;
    position: absolute;
    top: 10%;
    align-items: center;
}
/* caixa de pesquisa - fim */

div#logo img{
    position: absolute;
    top: 0%;
    left: 6%;
    max-width: 110px;
  
}

.fa-sliders {
   align-items: center;
    position: absolute;
    top: 15%;
    left: -22%;
    color: white;
    width: 100px;
    height: 200px;
    
}

/* Main  */
.texto-info{
    color: #3B1669;
    font-weight: 600;

}

.nome-filme {
    padding-top: 40px;
    padding-left: 8%;
    font-weight: bold;
    color: #3B1669;
}

.btn-presenca {

    background-color: green;
    margin-top: 7%;
    margin-right: 55%;
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    border: none;
    box-shadow: 1px 1px 4em wheat;
    font-weight: bold;
}

.btn-presenca:hover {
    background-color: #3B1669;
}

.descricao-evento {

    padding-top: 0%;

}

.bd {

    border: 1px solid red;

}

.evento {
     background: #3B1669;
     color: white; 
     border-radius:5px; 
     padding:5px;
     font-size: 26px;
}

.dados {

    font-size: 21px;

}

.sinopse-elenco {

    padding-left: 4%;
    padding-right: 4%;

}

.descricao-filme {

    color:#3B1669;
    font-weight: bold;
}

.sinopse-elenco {

    color: black;
    font-weight: bold;

}
.sinopse {
    font-weight: bold;
    color: #3B1669;
}

.elenco {

    font-weight: bold;
    color: #3B1669;

}

/* icone perfil */
.personal-image {
    text-align: center;
  }
  .personal-image input[type="file"] {
    display: none;
  }
  .personal-figure {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 110%;
    top: -25%;
  }
  .personal-avatar {
    cursor: pointer;
    width: inherit;
    height: inherit;
    box-sizing: border-box;
    border-radius: 100%;
    border: 2px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out .3s;
  }
  .personal-avatar:hover {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  }
  .personal-figcaption {
    cursor: pointer;
    position: absolute;
    top: 0px;
    width: inherit;
    height: inherit;
    border-radius: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: all ease-in-out .3s;
  }
  .personal-figcaption:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, .5);
  }
  .personal-figcaption > img {
    margin-top: 20%;
    width: 30px;
    height: 30px;
  }

/* icone perfil, fim */

/* Botão Marcar presença */

.btn-success {
    height: 50px;
    width: 200px;
    position: absolute;
    top: 800px;
    left: 250px;
  }

  /* Informações do evento */

  .horas {

    font-size: 24px;
    font-family: 'Inter', sans-serif;

  }

  /* button wpp e insta */

main .button-wpp {
    position:fixed;width:50px;height:50px;bottom:15px;right:15px;border-radius:50px;text-align:center;font-size:30px;z-index:999997;box-shadow: 1px 1px 2px #888;
}

main .button-insta {
    position:fixed;width:50px;height:50px;bottom:75px;right:15px;border-radius:50px;text-align:center;font-size:30px;z-index:999997;box-shadow: 0px 0px 0px #888;
}